/* --- Basic CSS Reset --- */

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Why Couples Resort
    6. About & FAQ
    7. Contact Form
    8. Footer

*/

/* 1. ---General Styles--- */

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
}

.cr-red {
    color: #9a2018;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    /* horz offset, vertical offset, blur distance */
    box-shadow: 0px 5px 8px #888888;
}

/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}

/* 3. ---Header--- */

#main-header {
    position: sticky;
    top: 0px;
    height: 110px;
    border-bottom: solid 1px #c3c3c3;
    background-color: #fff;
}

#logo {
    grid-column: 1/4;
    margin-top: 35px;
}

#main-nav {
    grid-column: 4/11;
    border-left: solid 2px #626262;
    height: 90px;
    margin-top: 10px;
    margin-left: 30px;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 35px;
    margin-left: 30px;
}

#main-nav ul li {
    display: inline;
    margin-right: 28px;
}

#main-nav ul li:last-child {
    margin-right: 0;
}

#main-nav ul li a {
    color: #626262;
}

#main-nav ul li a:hover {
    border-bottom: 3px solid #9a2018;
    padding-bottom: 8px;
}

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-now-top {
    grid-column: 11/-1;
    margin-right: -15px;
    margin-bottom: -1px;
}

#book-now-top:hover {
    background-color: #626262;
}

/* 4. ---Main Hero Image--- */

#main-hero {
    height: 455px;
    background: url(../images/hero.jpg) no-repeat bottom;
}

.hero-img-h2, .hero-img-h3 {
    background-color: #fff;
    padding: 30px 22px;
    font-size: 23px;
}

.hero-img-h2 span, .hero-img-h3 span {
    color: #9a2018;
    font-size: 16px;
}

#main-hero h2 {
    grid-column: 2/7;
    /* places this specific item at the bottom of the grid */
    align-self: end;
}

#hero-welcome {
    padding-bottom: 60px;
}

.title-line {
    grid-column: 2/12;
    border: none;
    border-top: solid 3px #CF6666;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

#hero-welcome p {
    grid-column: 2/12;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;

}

#hero-contact {
    background-color: #f4f4f4;
    padding-top: 80px;
    padding-bottom: 80px;
}

.fa-mobile-alt {
    grid-column: 3/4;
}

.fa-map-marker-alt {
    grid-column: 7/8;
}

#hero-numbers {
    grid-column: 4/7;
}

#hero-address {
    grid-column: 8/11;
}

.fas {
    font-size: 84px;
    color: #9a2018;
    margin: 0 auto;
}

/* 5. --- Why Couples Resort--- */

#why nav {
    height: 200px;
    border-top: solid 3px #c3c3c3;
    border-bottom: solid 3px #c3c3c3;
}

#why nav a {
    font-size: 24px;
    color: #000;
}

#why nav ul {
    list-style-type: none;
    grid-column: 2/11;
    padding: 0;
    margin-bottom: 40px;
    align-self: end;
}

#why nav ul li {
    display: inline;
    margin-right: 55px;
}

#why nav ul li a.active {
    border-bottom: 10px solid #9a2018;
    padding-bottom: 30px;
}

#why nav ul li a:hover {
    border-bottom: 10px solid #9a2018;
    padding-bottom: 30px;
}

#why-hero {
    height: 380px;
    background: url(../images/why_choose_couples_resort.jpg) no-repeat bottom;
}

#why-hero h3 {
    grid-column: 7/12;
    align-self: end;
}

#why-options {
    grid-row-gap: 30px;
    margin-bottom: 110px;
}

#why-options .why-us-img {
    /* this grid item will span 4 colums */
    grid-column: span 4;
}

.why-us-img.selected {
    background-color: #525151;
    color: #fff;
    padding: 20px 20px 0 20px; /*trbl*/
    height: 350px;
}

.why-us-img h4 {
    font-size: 28px;
    margin-bottom: 10px;
}

.why-us-img h5 {
    font-size: 18px;
    margin-bottom: 15px;
}

.why-us-img p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 18px;
}

.why-us-img a {
    color: #fff;
}

.why-us-img a:hover {
    padding-bottom: 5px;
    border-bottom: solid 2px #9a2018;
}

 /* 6. ---About & FAQ --- */

 #about-hero {
    height: 380px;
    background: url(../images/hero-boats.jpg) no-repeat bottom;
 }

 #about-hero h2 {
    grid-column: 2/7;
    align-self: end;
 }

 #about-text-group1 {
    grid-column: 2/7;
 }

 #about-text-group2 {
    grid-column: 7/12;
 }

 #about-text {
    margin-bottom: 60px;
 }

 #about-text p {
    margin-bottom: 30px;
    font-size: 20px;
 }

 .faq {
    background-color: #f4f4f4;
    padding: 64px 0 96px 0;
 }

 .faq h2 {
    font-size: 24px;
    grid-column: 2/-1;
 }

 .faq h2 span {
    color: #9a2018;
    font-size: 16px;
 }

 .faq-items {
    grid-column: 2/12;
    margin-bottom: 16px;
 }

 .faq-items h3 {
    background-color: #e8e7e7;
    padding: 16px;
    font-size: 16px;
 }

 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }

 .faq-items li {
    padding: 8px 0; /* top&bottom, left&right */
    border-bottom: 1px solid #9a2018;
 }

 .faq-items a {
    color: inherit;
 }

 .faq-list-con {
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-column-gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
 }

 #faq-list-group1 {
    grid-column: 1/6;
 }

 #faq-list-group2 {
    grid-column: 6/-1;
}

/* 7. ---Contact Form--- */

#contact-form-hero {
    height: 380px;
    background: url(../images/hero_couple_contact.jpg) no-repeat bottom;
}

#contact-form-hero h2 {
    grid-column: 7/12;
    align-self: end;
}

#contact-form-text p {
    grid-column: 2/12;
    margin-bottom: 80px;
}

#contact-form-adress-left {
    grid-column: 2/6;
}

#contact-form-fields-right {
    grid-column: 6/12;
}

#contact-form-adress-left h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

#contact-form-adress-left p {
    margin-bottom: 20px;
}

#contact-form-fields-right form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 22px;
    border: 2px solid #d6d6d6;
    border-radius:  5px;
    background-color: #f7f7f7;
    margin-bottom: 30px;
    font: inherit;
}

#contact-form-fields-right textarea {
    height: 300px;
}

input[type="submit"] {
    width: 100px;
    padding: 16px 32px;
    background-color: #9a2018;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    align-self: flex-end;
}

input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
}

/* .8 --- Footer --- */

#main-footer {
    margin-top: 40px;
    height: 533px;
    background: url(../images/footer.jpg) no-repeat bottom;
    color: #fff;
    /* the grid auto rows proerty specifies the size of an implicitly created grid row track
    
    using min content shrinks the space used.

    represents the largest minimal contribution of the grid items occupying the track
    */
    grid-auto-rows: min-content;
}

#main-footer-contact-info {
    grid-column: 2/4;
    margin-top: 100px;
}

#main-footer-contact-info h3 {
    margin-bottom: 20px;
}

#main-footer-contact-info p {
    font-size: 10px;
    line-height: 26px;
}

#main-footer nav {
    display: contents;
    /* ignore the nav being a grid item, and make the contents grid items */
}

#footer-nav-group1 {
    grid-column: 5/6;
    margin-top: 100px;
}

#footer-nav-group2 {
    grid-column:  6/7;
    margin-top: 100px;
}

#main-footer nav a {
    color: #fff;
    margin-bottom: 20px;
    display: block;
}

#footer-book-now {
    margin-top: 100px;
    grid-column: 9/12;
    background-color: #9a2018;
    height: 100px;
    text-align: center;
    line-height: 100px;
    transition: all 200ms ease-in;
}

#footer-book-now:hover {
    background-color: #626262;
}

#main-footer hr {
    margin-bottom: 30px;
}

#price-policy {
    grid-column: 2/12;
    font-size: 10px;
    text-align: center;
}